@import url('https://fonts.googleapis.com/css2?family=Tektur&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@500;900&display=swap');

:root {
    --new-pink: #E966A0;
    --new-blue: #007DC1;
    --new-purple: #9575DE;
    --new-dark-purple: #6554af;
    --new-black: #2b2730;
    --new-white: #fef6ff;
    --new-gray: #AEA9BA;
    --new-dark-gray: #494454;
}

.unselectable {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
 }

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: var(--new-white);
}

.text{
    font-family: 'Tektur', sans-serif;
    text-decoration: none;
    color: var(--new-black);
    font-size: x-large;
}

.dark{
    background-color: var(--new-dark-purple);
    color: var(--new-white);
}

.light{
    background-color: var(--new-purple);
    color: var(--new-black);
}

.main-container{
    padding-top: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    height: auto;
    font-family: 'Urbanist', sans-serif;
}

.darkMain{
    background-color: var(--new-dark-gray);
    color: var(--new-white);
}
.lightMain{
    background-color: var(--new-white);
    color: var(--new-black)
}
