@import url('https://fonts.googleapis.com/css2?family=Tektur&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@500;900&display=swap');

:root {
    --new-pink: #E966A0;
    --new-blue: #007DC1;
    --new-purple: #9575DE;
    --new-dark-purple: #6554af;
    --new-black: #2b2730;
    --new-white: #fef6ff;
    --new-gray: #AEA9B5;
    --new-dark-gray: #323232;
}

.unselectable {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
 }

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: var(--new-white);
}

.text{
    font-family: 'Tektur', sans-serif;
    text-decoration: none;
    color: var(--new-black);
}

button{
    padding: 10px;
    font-family: 'Urbanist', sans-serif;
}

.dark{
    background-color: var(--new-dark-purple);
    color: var(--new-white);
}

.light{
    background-color: var(--new-purple);
    color: var(--new-black);
}